.how-it-works {
  padding: 80px 0;
  background:whitesmoke;
  text-align: center;
}

.how-it-works h2 {
  font-size: 2.0rem;
  /* 333 */
  color: black;
  margin-bottom: 1rem;
}

.how-it-works p {
    /* 666 */
  color: black;
  max-width: 600px;
  margin: 0 auto 2rem;
}

.steps {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 2rem;
}

.step {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.step-icon {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: #485869;
  color: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  /* 485869 */
  border: 4px solid #485869;
}

.step-title {
  font-size: 1.0rem;
  font-weight: bold;
  /* 333 */
  color: whitesmoke;
  margin-bottom: 0.5rem;
}

.step-desc {
    /* 555 */
  color: whitesmoke;
}
